body{
	background: gray;
}

form label{
	display: block;
	font-size: 20px;
	color:yellow;
	
}
form input{
	display: block;
	background:black;
	color: white;
	font-weight: bold;
	width: 70px;
	
}
.telefone{
	color: red;
}
.caixa{
	color: blue;
}
